// @use "settings";
// @use "abstracts/abstracts";
// @use "vendors/vendors";
@use "base/base";
// @use "components/components";
// @use "layout/layout";
// @use "pages/pages";
// @use "themes/themes";

body {
  background-color: #2b2d38;
}

main {
  position: relative;
}
.container {
  width: 1240px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 90px;

  display: flex;
  align-items: center;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    width: 190px;
    height: auto;
  }

  &__nav {
    ul {
      display: flex;
      align-items: center;
      gap: 28px;
      list-style: none;
      font-size: 16px;
    }
  }

  &__link {
    position: relative;

    font-family: "Poppins", sans-serif;
    font-weight: 400;

    color: #ababab;
    text-decoration: none;
  }

  &__link--active {
    color: #ffffff;

    &::after {
      content: "";

      position: absolute;
      left: 0;
      bottom: -12px;

      width: 32px;
      height: 4px;

      background-color: #db2a6b;
      border-radius: 6px;
    }
  }
}

.hero {
  display: grid;
  grid-template-columns: 600px 608px;
  grid-template-areas: "content visual";
  gap: 32px;

  &__content {
    grid-area: content;
    height: auto;
    margin-top: 38px;
    padding: 0;
  }

  &__title {
    height: auto;
    font-family: "Merriweather", sans-serif;
    font-weight: bold;
    font-size: 62px;
    line-height: 1.12;
    color: #ffffff;
  }

  &__description {
    margin-top: 18px;
    width: 550px;
    height: auto;
    color: #95969c;
    font-size: 18px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-top: 24px;
    width: 400px;
    height: 52px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
  }

  &__button--primary {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 48px;
    background-color: #db2a6b;
    border-radius: 16px 16px 16px 0;
  }

  &__button--secondary {
    width: 148px;
    height: 40px;
    text-decoration: underline;
    text-underline-offset: 6px;

    span {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 16px;
    }
  }

  &__arrow {
    width: 40px;
    height: 40px;

    img {
      width: 100%;
      height: 100%;
      transform: rotate(90deg);
    }
  }

  &__visual {
    grid-area: visual;
    justify-self: end;
    width: 575px;
    margin-top: 20px;

    figure {
      position: relative;
      width: 575px;
      height: 569px;
      margin: 0;
    }

    img {
      position: absolute;
      width: 175px;
      object-fit: cover;
      border-radius: 66px;
    }

    // Hombre: fondo naranja
    img:nth-child(1) {
      top: 198px;
      left: 202px;
      height: 371px;
      background-color: #ff7e29;
    }

    // Hombre: fondo morado
    img:nth-child(2) {
      top: 0;
      left: 4px;
      height: 371px;
      background-color: #6e1fed;
    }

    // Mujer con gafas
    img:nth-child(3) {
      top: 394px;
      left: 4px;
      height: 175px;
      background-color: #db2a6b;
    }

    // Mujer: fondo turquesa
    img:nth-child(4) {
      top: 0;
      left: 202px;
      height: 175px;
      background-color: #60d3d9;
    }

    // Mujer: fondo amarillo
    img:nth-child(5) {
      top: 99px;
      left: 400px;
      height: 371px;
      background-color: #f4b840;
    }
  }
}

.community-options {
  position: absolute;
  left: 136px;
  bottom: 1rem;

  &__list {
    width: fit-content;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    gap: 2.5rem;

    list-style: none;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 1rem;

    color: #fff;
    text-decoration: none;
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;

    object-fit: contain;
    background-color: rgb(255 255 255 / 12.5%);
    border-radius: 1rem;
  }

  &__text {
    max-width: 5rem;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
    text-align: left;
  }
}
